<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <add name="strSQL" connectionString="Server=fedepazw-win;DataBase=OpenRECE;User Id=sa;Password=sa" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>