<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Logica.Properties.Settings>
            <setting name="Logica_ar_gov_afip_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="Logica_ar_gov_afip_wsaa_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="Logica_AFIP_WSFEV1_Produccion_Service" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="Logica_AFIP_WSFEV1_Homologacion_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </Logica.Properties.Settings>
    </applicationSettings>
</configuration>